.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow:0 0 0 2px ;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#cellcontainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
  
    width: 225px;
    margin: auto;
  
}
#gamecontainer{
    font-family: "permanent marker", cursive;
    text-align: center;
   
}
#win-line {
    position: absolute;
    width: 300px;          /* same width as board */
    height: 4px;           /* thickness of the line */
    background-color: red; /* color of winning line */
    top: 0;
    left: 0;
    display: none;         /* hidden at start */
    transform-origin: center;
    transition: 0.4s ease;
}
.cell:hover{
    background-color: lightgray;
}

#board {
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
}

















